@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

@theme {
    /* Font Family */
    --font-primary: 'Roboto Mono', monospace;
    --font-secondary: 'Amiga', sans-serif;
    --font-tertiary: 'Outfit', sans-serif;

    /* Color     */
    --color-primary: oklch(92.2% 0 0);
    --color-secondary: oklch(62.3% 0.214 259.815); /* blue */
    --color-tertiary: oklch(70.8% 0 0); /* gray */
    --color-quaternary: oklch(44.6% 0.03 256.802);
    --color-quinary: oklch(70.5% 0.213 47.604);
}

@font-face {
    font-family: 'Amiga';
    src: url('./fonts/Amiga.otf') format('opentype');
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    background: var(--color-primary);
}

::selection {
    background-color: var(--color-secondary);
    color: white;
}

.nav-triangle-wrapper.nav-triangle-wrapper-left {
    -webkit-clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        1.42rem 100%,
        0 calc(100% - 1.42rem)
    );
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        1.42rem 100%,
        0 calc(100% - 1.42rem)
    );
    left: 0;
}

.nav-triangle-wrapper.nav-triangle-wrapper-right {
    -webkit-clip-path: polygon(
        100% 0,
        100% calc(100% - 1.42rem),
        calc(100% - 1.42rem) 100%,
        0 100%,
        0 0
    );
    clip-path: polygon(
        100% 0,
        100% calc(100% - 1.42rem),
        calc(100% - 1.42rem) 100%,
        0 100%,
        0 0
    );
    right: 0;
}

.nav-triangle-wrapper {
    background-color: var(--color-primary);
    width: calc(1.42rem + 1px);
    height: 100%;
    position: absolute;
    top: 0;
}

.nav-triangle.nav-triangle-left {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    margin-bottom: 0;
    margin-right: 0;
    position: absolute;
    inset: auto auto 0% 0%;
}

.nav-triangle.nav-triangle-right {
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    margin-bottom: 0;
    margin-right: 0;
    inset: auto 0% 0% auto;
}

.nav-triangle {
    z-index: 2;
    aspect-ratio: 1;
    background-color: var(--color-tertiary);
    width: 100%;
    margin-bottom: 1px;
    margin-right: 1px;
    position: absolute;
}

.nav-link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0;
    transition:
        opacity 0.3s,
        transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav-link::before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--color-secondary);
    border-left: 2px solid var(--color-secondary);
    transform: translate(50%, 50%);
}

.nav-link::after {
    bottom: 0;
    right: 0;
    border-right: 2px solid var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
    transform: translate(-50%, -50%);
}

.nav-link:hover::before,
.nav-link:hover::after,
.nav-link.active-nav-link::before,
.nav-link.active-nav-link::after {
    opacity: 1;
    transform: translate(0, 0);
}

.rounded-btn {
    text-align: center;
    cursor: pointer;
    line-height: 114%;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
    background-color: var(--color-secondary);
    -webkit-clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
    );
    clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
    );
    border-radius: 14px 3px 16px;
}

.rounded-btn:hover {
    background-color: var(--color-secondary);
}

.rounded-btn::after {
    content: '';
    position: absolute;
    inset: 1px;
    background-color: var(--color-secondary);
    -webkit-clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
    );
    clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
    );
    border-radius: 14px 3px 16px;
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
}

.rounded-btn:hover::after {
    background-color: var(--color-primary);
}

.boxes {
    position: relative;
}

.corner {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
}

.top-left {
    top: 2rem;
    left: 2rem;
    border-top: 2px solid var(--color-quaternary);
    border-left: 2px solid var(--color-quaternary);
    transform: translate(50%, 50%);
}

.top-right {
    top: 2rem;
    right: 2rem;
    border-top: 2px solid var(--color-quaternary);
    border-right: 2px solid var(--color-quaternary);
    transform: translate(-50%, 50%);
}

.bottom-left {
    bottom: 2rem;
    left: 2rem;
    border-bottom: 2px solid var(--color-quaternary);
    border-left: 2px solid var(--color-quaternary);
    transform: translate(50%, -50%);
}

.bottom-right {
    bottom: 2rem;
    right: 2rem;
    border-bottom: 2px solid var(--color-quaternary);
    border-right: 2px solid var(--color-quaternary);
    transform: translate(-50%, -50%);
}

.boxes:hover .corner,
.boxes:hover div .number {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
